
.container{
    background-image: url('https://media.istockphoto.com/id/1254993875/photo/cropped-image-of-business-woman-hand-working-laptop-computer-in-home-office.webp?b=1&s=170667a&w=0&k=20&c=knBGipYVyUge-Kjp6i_X-gP44HNPsd7GsIZ5hqx98Y8=');
    height: 550px;
    width: 1256px;
    background-size: cover;
    background-repeat: no-repeat;
    /* z-index: -1; */
    /* background-color: black; */
   
}
.backeffect{
    width: 1256px;
    height: 550px;
    background-color:  rgba(10, 12, 13, 0.5);;
}
nav {
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 0 24px;
    /* margin-left: 40px; */
}

nav ul li a {
    color: rgb(222, 222, 217);
    text-decoration: none;
    /* justify-content: center; */
    font-family: sans-serif;
    margin-left: 15px;
    /* margin-right: 40px; */
}

nav ul li a:hover {
    color: rgb(124, 142, 7);
    font-weight: bolder;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    height: 58px;
    align-items: center;
}

.navigate {
    height: 50px;
    /* background-color: rgb(191, 4, 4); */
    color: aliceblue;
    margin-left: 240px;
}

.navitems a {
    /* background-color: rgb(191, 4, 4); */
    margin: 15px;
    color: aliceblue;
    text-decoration: none;
}
.content{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
    margin-top: 200px;
    font-size: 40px;
    /* font-size: 40px; */
    
}
.content:hover{
   transition: 2s;
   color:gainsboro ;
    /* font-size: 70px; */

}
#head{
    font-size:40px ;
    /* margin-left: 90px; */
}
#para{
    font-size: 35px;
    margin-left: 100px;
}
.biophoto{
    background-image: url('https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDJ8fGdpcmwlMjB3b3JraW5nJTIwb24lMjBsYXB0b3B8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60');
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    width: 600px;
    border-radius: 25px;
}

.biocontent{
    width: 500px;
    height:550px ;
    display: flex;
    margin: 28px;
    /* padding: 20px; */
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(164, 160, 160);
}
.bio{
    display: flex;
    margin: 15px;
    margin-top: 70px;
}
.bioeffect{
    width: 599px;
    height: 600px;
    border-radius: 35px;
    background-color:  rgba(10, 12, 13, 0.5);
}
#hireme{
    cursor: pointer;
    color: rgb(246, 246, 246);
    background-color: rgb(105, 161, 115);
    padding: 15px;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 15px;
    width: 150px;
    border: 0px;
}
#hireme:hover{
    background-color: rgb(144, 167, 127);
    color: rgb(220, 216, 216);
    transition: 1s;
}
/*#downloadcv{
    cursor: pointer;
    color: rgb(246, 246, 246);
    background-color: rgb(62, 64, 62);
    padding: 15px;
    border-radius: 25px;
    width: 150px;
    margin-left: 25px;
    border: 0px;
} */
#downloadbtn{
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(246, 246, 246);
    background-color: rgb(62, 64, 62);
    padding: 15px;
    border-radius: 25px;
    width: 150px;
    margin-left: 25px;
    border: 0px;
    text-decoration: none;
}
#downloadbtn:hover{
    background-color: rgb(122, 122, 122);
    transition: 1s;
}
.myresume{
    display: flex;
    font-family:Arial, Helvetica, sans-serif ;
    color: rgb(182, 181, 181);
}
.objective{
    width: 400px;
   margin:20px;
   border: 0.4px solid gray;
   padding: 20px;
   border-radius: 30px;
}
.skills{
    width: 400px;
    margin:20px;
    border: 0.4px solid gray;
    border-radius: 30px;
    padding: 20px;
}
.education{
    width: 400px;
    margin: 20px;
    border: 0.4px solid gray;
    border-radius: 30px;
    padding: 20px;
}
h2{
    margin-left: 90px;
    /* color: grey; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
h3{
    color: palevioletred;
}
#resumehead{
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 30px;
    font-size: 40px;
}
.year{
    color: rgb(155, 106, 135);
}
.freelance{
    background-image: url('https://images.unsplash.com/photo-1518674660708-0e2c0473e68e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fG1lc3NhZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60');
    height: 220px;
    background-size: cover;
    color: palevioletred;
    font-size: 60px;
    text-align: center;
    /* padding-top: 30px; */
    /* display: inline-block; */
    border-radius: 50px;
}
#freelancebtn{
    background-color: palevioletred;
    /* margin-top: 30px; */
    padding: 15px;
    border-radius: 20px;
    width: 230px;
    border: 0px;
    cursor: pointer;
    color: aliceblue;
    font-size: 16px;
    /* margin-bottom: 15px; */
}
#freelancecontent{
    padding-top: 30px;
    padding-bottom: 0px;
    /* display: inherit; */
   /* block-size: fit-content; */
   /* max-height: fit-content; */
   height: 45px;
}
.contactme{
   /* background-image: url('https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGdvb2dsZSUyMG1hcHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60'); */
   height: 600px;
   background-repeat: no-repeat;
   margin-top: 70px;
   background-size: cover;
}
.contacteffect{
    /* background-color:    rgba(20, 20, 21, 0.2); */
    height: 450px;
    width: 1100px;
    border-radius: 20px;
    /* margin-left: 40px; */
    /* margin-top: 40px; */
}
    /* background-color:    rgba(232, 236, 237, 0.5);; */


.contactform{
    /* background-image: url('https://images.unsplash.com/photo-1518674660708-0e2c0473e68e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fG1lc3NhZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60'); */
    height: 450px;
    background-color: gray;
    border: 0px;
    background-color: whitesmoke;
   width: 1100px;
   padding: 20px;
   text-align: center;
   font-size: 25px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* display: inline; */
   /* margin: 30px; */
   margin-left: 40px;
   margin-top: 40px;
   border-radius: 20px;
   /* color: rgb(135, 32, 77); */
   color: palevioletred;
   font-weight: bolder;
   background-repeat: no-repeat;
   background-size: cover;
}
input{
    width: 360px;
    height: 30px;
    /* border-bottom: ; */
    border-color: plum;

}
textarea{
    width: 360px;
    height: 100px;
    padding-top: 0%;
    padding-bottom: 40px;
    border-color: plum;
    /* padding-top: 0%; */
}
.formbtn{
    background-color: palevioletred;
    /* margin-top: 30px; */
    padding: 15px;
    border-radius: 20px;
    width: 230px;
    border: 0px;
    cursor: pointer;
    color: aliceblue;
    font-size: 16px;
}
footer{
    height: 300px;
    background-color: rgba(229, 229, 229, 0.912);
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    display: flex;
}
h4{
    color: palevioletred;
    font-size: 20px;
}
.services{
    margin-left: 250px;
}
.navagation{
    margin-left: 200px;
}
